body {
	margin: 0;
	height: 100vh;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

#search {
	display: none;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, .7);
	height: 40vh;
	width: 30%;
	border-radius: 15px;
	backdrop-filter: blur(40px);
	border: solid 1px #5e5e5e;
}

#searchbar {
	width: calc(90% - 2rem);
	background: none;
	padding: 0 1rem;
	height: 3rem;
	border: none;
	border-bottom: solid 1px #5e5e5e;
	border-radius: 15px 0 0 0;
	color: #fff;
}

#tip {
	font-size: .8em;
	color: #8B949E;
	padding: 1rem 0 1rem 1rem;
}

#searchbar:focus, #searchbar:focus + #search-close {
	outline: none;
	background: rgba(50, 50, 50, .5);
}

#search-close {
	float: right;
	height: 3rem;
	line-height: 3rem;
	width: 10%;
	color: #fff;
	text-align: center;
	border-radius: 0 15px 0 0;
	border-bottom: solid 1px #5e5e5e;
}

.grid-box{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
}

.grid-element {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	grid-row: 1fr;
	font-size: 3em;
}

.grid-element:hover {
	cursor: pointer;
}

@media all and (max-width: 1400px) {
	#search {
		width: 90%;
	}
}
