@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #FFF;
    border-color: #FFF;
    text-decoration-color: #FFF; }
    body a {
      color: #FFF; }
    body button {
      background: none;
      color: #FFF;
      border: solid 1px #FFF; }
    body #nav-btn-parent {
      background: rgba(0, 0, 0, 0.8); }
      body #nav-btn-parent #burger {
        background: #FFF; }
        body #nav-btn-parent #burger:before, body #nav-btn-parent #burger:after {
          background: #FFF; }
    body #home div a {
      color: #FFF; }
    body #offer #box > div .category {
      color: #FFF; }
    body nav {
      background: rgba(0, 0, 0, 0.6) !important; }
      body nav #box {
        width: 400px; }
        body nav #box #search {
          background: rgba(255, 255, 255, 0.1); }
        body nav #box #entries a {
          color: #FFF; }
    body .loader {
      background: #000;
      color: #FFF; } }

@media (prefers-color-scheme: light) {
  body {
    background: #FFF;
    color: #000;
    border-color: #000;
    text-decoration-color: #000; }
    body a {
      color: #000 !important; }
    body nav a {
      color: #FFF !important; }
    body button {
      background: none;
      border: solid 1px #000; }
    body #nav-btn-parent {
      background: rgba(255, 255, 255, 0.8); }
      body #nav-btn-parent #burger {
        background: #000; }
        body #nav-btn-parent #burger:before, body #nav-btn-parent #burger:after {
          background: #000; }
    body nav {
      background: rgba(255, 255, 255, 0.6) !important; }
      body nav #box {
        width: 400px; }
        body nav #box #search {
          background: rgba(0, 0, 0, 0.1); }
        body nav #box #entries a {
          color: #000 !important; }
    body .loader {
      background: #FFF; } }

.dark body {
  background: #000;
  color: #FFF;
  border-color: #FFF;
  text-decoration-color: #FFF; }
  .dark body a {
    color: #FFF; }
  .dark body button {
    background: none;
    color: #FFF;
    border: solid 1px #FFF; }
  .dark body #nav-btn-parent {
    background: rgba(0, 0, 0, 0.8); }
    .dark body #nav-btn-parent #burger {
      background: #FFF; }
      .dark body #nav-btn-parent #burger:before, .dark body #nav-btn-parent #burger:after {
        background: #FFF; }
  .dark body #home div a {
    color: #FFF; }
  .dark body #offer #box > div .category {
    color: #FFF; }
  .dark body nav {
    background: rgba(0, 0, 0, 0.6) !important; }
    .dark body nav #box {
      width: 400px; }
      .dark body nav #box #search {
        background: rgba(255, 255, 255, 0.1); }
      .dark body nav #box #entries a {
        color: #FFF; }
  .dark body .loader {
    background: #000;
    color: #FFF; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  transition: 500ms; }

#nav-btn-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 80px;
  width: 100%;
  margin: 0 !important;
  padding: 0;
  transition: 500ms;
  z-index: 98;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); }
  #nav-btn-parent #burger-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 80px;
    width: 80px;
    left: 0; }
    #nav-btn-parent #burger-box:hover {
      cursor: pointer; }
  #nav-btn-parent #menu {
    position: fixed;
    right: 20px; }
    #nav-btn-parent #menu a {
      text-decoration: none;
      text-underline-offset: .3rem;
      margin: 10px; }
      #nav-btn-parent #menu a:hover, #nav-btn-parent #menu a:focus {
        font-weight: bold; }
  #nav-btn-parent #burger {
    position: fixed;
    height: 3px;
    width: 40px;
    display: block;
    left: 20px;
    border-radius: 7px;
    transition: 200ms; }
    #nav-btn-parent #burger:before, #nav-btn-parent #burger:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 40px;
      border-radius: 7px;
      transition: 300ms; }
    #nav-btn-parent #burger:before {
      top: -500%; }
    #nav-btn-parent #burger:after {
      top: 500%; }

.nav-close {
  background: none !important; }
  .nav-close:before, .nav-close:after {
    top: 0 !important; }
  .nav-close:before {
    transform: rotate(45deg); }
  .nav-close:after {
    transform: rotate(-45deg); }

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  color: #000;
  overflow: hidden;
  z-index: 99; }
  .loader h1 {
    overflow: hidden;
    font-size: 10vw;
    border-right: .5vw solid #000;
    animation: typewriter 0.3s steps(100), blink 0.5s steps(20) infinite; }

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; }

#home img {
  width: 350px;
  height: 350px; }

#home div {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 400px;
  line-height: 1.5; }
  #home div p {
    padding-left: .5rem; }
  #home div a {
    text-decoration: none;
    font-weight: bold;
    color: #000; }
    #home div a:hover, #home div a:focus {
      outline: none;
      text-decoration: underline wavy;
      text-decoration-thickness: 2px;
      text-underline-offset: .1rem; }
  #home div h1, #home div p {
    margin: 0; }
  #home div h1 {
    line-height: 7rem;
    font-size: 7em; }

nav {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 97;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px); }
  nav #search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    border-radius: 10px;
    transition: .5s; }
    nav #search i {
      padding: 0 1rem; }
    nav #search input {
      width: 100%;
      margin: 2px 0 0 -4px;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
      background: none;
      border: none;
      line-height: 36px; }
      nav #search input:focus {
        outline: none; }
  nav #entries p {
    font-size: .9em;
    margin-left: .5rem; }
  nav #entries a {
    display: flex;
    gap: .5rem;
    width: calc(100% - 5rem);
    padding: .6rem 2.5rem;
    text-decoration: none; }
    nav #entries a:hover, nav #entries a:focus {
      font-weight: bold; }
  nav #entries .fa-bag-shopping {
    margin-right: 2px; }
  nav #entries .fa-code-branch,
  nav #entries .fa-linkedin-in {
    margin-right: 3px; }
  nav #entries .fa-user-group {
    margin-left: -4px;
    margin-right: 1px; }
  nav #entries .fa-envelope {
    margin-left: -3px;
    margin-right: 4px; }
  nav #entries .fa-house,
  nav #entries .fa-people-group {
    margin-left: -2px; }

#offer {
  min-height: 100vh; }
  #offer #box {
    display: flex;
    gap: 2rem; }
    #offer #box div {
      width: 20rem;
      height: 20rem;
      border-radius: 8px;
      text-align: center;
      transition: 3s;
      border: solid 1px;
      padding: 40px; }
      #offer #box div .header {
        font-size: 3em; }
      #offer #box div .category {
        color: #333;
        width: 100%;
        font-size: 1em; }
      #offer #box div .text {
        font-size: 2em; }
      #offer #box div button {
        width: calc(100% - 3rem);
        font-size: 1.1em;
        height: 4rem;
        font-family: 'Montserrat', sans-serif;
        border-radius: 8px; }
        #offer #box div button:hover {
          cursor: pointer;
          transform: scale(1.05);
          background: rgba(255, 255, 255, 0.1); }

#about {
  font-family: 'Beau Rivage', cursive;
  font-size: 2.5em;
  line-height: 1.5; }
  #about p {
    width: 500px;
    text-align: justify; }
    #about p a {
      text-decoration: none;
      font-weight: bold; }
      #about p a:hover {
        text-decoration: 2px underline; }

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease-out !important; }

.active {
  transform: translateY(0);
  opacity: 1; }

@media (max-width: 1100px) {
  #nav-btn-parent {
    margin: 10vw 5vw; }
  section {
    width: 100vw; }
  section, #offer > div {
    flex-direction: column; }
  #offer {
    height: auto; }
  #home img {
    max-width: 70%;
    max-width: 350px; }
  #home div > h1 {
    text-align: center;
    font-size: clamp(16px, 20vw, 7em); }
  nav #box {
    width: 70vw;
    text-align: center;
    justify-content: center; }
    nav #box #search {
      display: none; }
    nav #box #entries {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-height: 80%;
      overflow-x: auto; }
      nav #box #entries a {
        width: auto; }
  #home div {
    margin-top: -2rem; }
  #about {
    font-size: 2em; }
    #about p {
      width: 90%; }
  .loader > h1 {
    font-size: 12vw; } }

@media (max-width: 500px) {
  #home div {
    width: 87% !important; }
  #offer {
    padding: 200px 0; }
    #offer div {
      width: 87% !important;
      min-width: 322px !important; } }

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; }

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-drag: none; }

::-webkit-scrollbar {
  width: 0; }

@media (-webkit-min-device-pixel-ratio: 0) {
  select, textarea, input {
    font-size: 16px; } }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 30vw; } }

@keyframes blink {
  from {
    border-color: white; }
  to {
    border-color: black; } }
