@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

@mixin dark_scheme
  body
    background: #000
    color: #FFF
    border-color: #FFF
    text-decoration-color: #FFF

    a
      color: #FFF
      &:hover
        color: #777

    button
      background: none
      color: #FFF
      border: solid 1px #FFF

    #nav-btn-parent
      background: rgba(#000, .8)
      #burger
        background: #FFF
        &:before, &:after
          background: #FFF

    #home
      div
        a
          color: #FFF

    #offer
      #box > div
        .category
          color: #FFF

    nav
      background: rgba(#000, .6) !important
      #box
        width: 400px
        #search
          background: rgba(#FFF, .1)
        #entries
          a
            color: #FFF

    .loader
      background: #000
      color: #FFF


@mixin light_scheme
  body
    background: #FFF
    color: #000
    border-color: #000
    text-decoration-color: #000

    a
      color: #000 !important
      &:hover
        color: #777

    nav
      a
        color: #FFF !important

    button
      background: none
      border: solid 1px #000

    #nav-btn-parent
      background: rgba(#FFF, .8)
      #burger
        background: #000
        &:before, &:after
          background: #000

    nav
      background: rgba(#FFF, .6) !important
      #box
        width: 400px
        #search
          background: rgba(#000, .1)
        #entries
          a
            color: #000 !important

    .loader
      background: #FFF


@media (prefers-color-scheme: dark)
  @include dark_scheme

@media (prefers-color-scheme: light)
  @include light_scheme

.dark
  @include dark_scheme

@mixin flex-center
  display: flex
  align-items: center
  justify-content: center

body
  margin: 0
  font-family: 'Montserrat', sans-serif
  transition: 500ms


#nav-btn-parent
  @include flex-center
  position: fixed
  height: 80px
  width: 100%
  margin: 0 !important
  padding: 0
  transition: 500ms
  z-index: 98
  -webkit-backdrop-filter: blur(5px)
  backdrop-filter: blur(5px)

  #burger-box
    @include flex-center
    position: fixed
    height: 80px
    width: 80px
    left: 0
    &:hover
      cursor: pointer

  #menu
    position: fixed
    right: 20px
    a
      text-decoration: none
      text-underline-offset: .3rem
      margin: 10px

  #burger
    position: fixed
    height: 3px
    width: 40px
    display: block
    left: 20px
    border-radius: 7px
    transition: 200ms
    &:before, &:after
      content: ''
      position: absolute
      height: 3px
      width: 40px
      border-radius: 7px
      transition: 300ms
    &:before
      top: -500%
    &:after
      top: 500%

.nav-close
  background: none !important
  &:before, &:after
    top: 0 !important
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(-45deg)

.loader
  @include flex-center
  width: 100%
  height: 100%
  position: fixed
  color: #000
  overflow: hidden
  z-index: 99

  h1
    overflow: hidden
    font-size: 10vw
    border-right: .5vw solid #000
    animation: typewriter .3s steps(100), blink .5s steps(20) infinite

section
  @include flex-center
  height: 100vh
  width: 100vw


#home
  img
    max-width: 350px

  div
    display: flex
    flex-direction: column
    align-items: left
    width: 400px
    line-height: 1.5

    p
      padding-left: .5rem

    a
      text-decoration: none
      font-weight: bold
      color: #000
      &:hover, &:focus
        outline: none
        text-decoration: underline wavy
        text-decoration-thickness: 2px
        text-underline-offset: .1rem

    h1, p
      margin: 0

    h1
      line-height: 7rem
      font-size: 7em


nav
  position: fixed
  display: none
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  z-index: 97
  -webkit-backdrop-filter: blur(40px)
  backdrop-filter: blur(40px)
  #search
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 3rem
    margin-top: 2rem
    border-radius: 10px
    transition: .5s

    i
      padding: 0 1rem

    input
      width: 100%
      margin: 2px 0 0 -4px
      padding: 0
      font-family: 'Montserrat', sans-serif
      background: none
      border: none
      line-height: 36px
      &:focus
        outline: none

  #entries
    p
      font-size: .9em
      margin-left: .5rem
    a
      display: flex
      gap: .5rem
      width: calc(100% - 5rem)
      padding: .6rem 2.5rem
      text-decoration: none
    .fa-bag-shopping
      margin-right: 2px
    .fa-code-branch,
    .fa-linkedin-in
      margin-right: 3px
    .fa-user-group
      margin-left: -4px
      margin-right: 1px
    .fa-envelope
      margin-left: -3px
      margin-right: 4px
    .fa-house,
    .fa-people-group
      margin-left: -2px


#offer
  min-height: 100vh
  #box
    display: flex
    gap: 2rem

    div
      width: 20rem
      height: 20rem
      border-radius: 8px
      text-align: center
      transition: 3s
      border: solid 1px
      padding: 20px

      .header
        font-size: 3em

      .category
        color: #333
        width: 100%
        font-size: 1em

      .text
        font-size: 2em

      button
        width: calc(100% - 3rem)
        font-size: 1.1em
        height: 3rem
        font-family: 'Montserrat', sans-serif
        border-radius: 8px
        &:hover
          cursor: pointer
          transform: scale(1.05)
          background: transparentize(#fff, 0.9)

#about
  font-family: 'Beau Rivage', cursive
  font-size: 2.5em
  line-height: 1.5
  p
    width: 500px
    text-align: justify
    a
      text-decoration: none
      font-weight: bold
      &:hover
        text-decoration: 2px underline

.reveal
  position: relative
  transform: translateY(150px)
  opacity: 0
  transition: all 1s ease-out !important

.active
  transform: translateY(0)
  opacity: 1

@media (max-width: 1100px)
  #nav-btn-parent
    margin: 10vw 5vw

  section, #offer > div
    flex-direction: column

  #offer
    height: auto

  #home
    img
      max-width: 70%
      max-width: 350px

    div > h1
        text-align: center
        font-size: clamp(16px, 20vw, 7em)

  nav
    #box
      width: 70vw
      text-align: center
      justify-content: center

      #search
        display: none

      #entries
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        max-height: 80%
        overflow-x: auto
        a
          width: auto

  #home
    div
      margin-top: -2rem

  #about
    font-size: 2em
    p
      width: 90%

  .loader > h1
    font-size: 12vw

// Smooth scrollinG
html
  scroll-behavior: smooth
  -webkit-overflow-scrolling: touch


// Lock drag and select
*
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-touch-callout: none
  -webkit-user-drag: none
  user-drag: none


// TODO: Create scrollbar
::-webkit-scrollbar
  width: 0

// Fixes zoom at focusing on ios
@media (-webkit-min-device-pixel-ratio:0)
  select, textarea, input
    font-size: 16px

@keyframes typewriter
  from
    width: 0
  to
    width: 30vw

@keyframes blink
  from
    border-color: white
  to
    border-color: black
