html { scroll-behavior: smooth; }

* {
	-webkit-user-select: none;
	-webkit-user-drag: none;
  user-select: none;
  user-drag: none;
	outline: none;
}

body {
	background: radial-gradient(circle, rgb(0,0,0) -50%, rgb(20,20,75) 10%, rgb(0,0,0) 100%);
	margin: 0;
	font-family: system-ui, -apple-system,
							 BlinkMacSystemFont, 'Segoe UI',
							 Roboto, Oxygen, Ubuntu, Cantarell,
							 'Fira Sans', 'Droid Sans',
							 'Helvetica Neue', sans-serif;

	color: white;
}

.menubtn {
	font-size: 2em;
	margin: 1em;
	position: fixed;
}

#loader {
	position: fixed;
	background: #000;
	height: 100vh;
	width: 100vw;
	top: 0;
	z-index: 98;
	display: flex;
	align-items: center;
	justify-content: center;
}

#loader > h1 {
	font-size: 7vw;
	width: 17.5vw;
	overflow: hidden;
	border-right: .5vw solid;
	animation:
		typewriter 300ms steps(10),
		blink 500ms steps(20) infinite;
}

@keyframes typewriter {
	from { width: 0; }
	to { width: 18.5vw; }
}

@keyframes blink {
	from { border-color: white; }
	to { border-color: black; }
}

section {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5%;
}

#main > div {
	width: 30%;
	max-width: 350px;
	display: flex;
	flex-direction: column;
	align-items: left;
}

#nickname {
	font-size: 5em;
	margin: 0;
	width: 30%;
}


#avatar { border-radius: 100%; max-width: 350px; max-height: 30vh; }

/* Search menu */
#menu {
	background: rgba(0, 0, 0, .75);
	max-height: 400px;
	width: 30%;

	position: fixed;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);

	backdrop-filter: blur(40px);
	z-index: 99;
	display: none;
	border: solid 1px #5e5e5e;
	border-radius: 15px;
}

#searchbar {
	background: none;
	border: none;
	color: #fff;
	width: calc(100% - 2rem);
	padding: 1rem;
	border-bottom: solid 1px #5e5e5e;
	border-radius: 15px 15px 0 0;
}

#searchbar:focus,
#searchbar:focus + #search-close {
	background: rgba(50, 50, 50, .5);
}

#menu-entries { overflow-y: auto; }

.search-element {
	width: calc(100% - 3rem - 2px);
	display: block;
	padding: 0 1.5rem;
	color: white;
	text-decoration: none;
	border: solid 1px rgba(0, 0, 0, 0);
}

.search-element > * { padding: .5rem; }

.search-categories {
	color: #8B949E;
	font-size: .9em;
	padding: 0rem 0 0 1rem;
}

.search-element-search,
.search-element:hover,
.search-element:focus {
	background: rgba(50, 50, 50, .5);
	border-bottom: solid 1px #5e5e5e;
	border-top: solid 1px #5e5e5e;
}

@media (max-width: 1300px) {
	section { flex-direction: column; }

	#menu {
		width: 90%;
		min-width: 300px;
		max-height: 90vh;
		margin: auto;
	}

	#main > div { align-items: center; }
	#nickname,
	#about-text,
	#menu-entries { min-width: 200px;}

	.search-element {
		padding: .5rem 1.5rem;
	}
}
