html {
	scroll-behavior: smooth;
}

* {
	-webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
	-webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

body {
	background: #000;
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	color: white;
}

.menubtn {
	font-size: 2em;
	margin: 1em;
	position: fixed;
}

#loader {
	position: fixed;
	background: #000;
	height: 100vh;
	width: 100vw;
	top: 0;
	z-index: 98;
	display: flex;
	align-items: center;
	justify-content: center;
}

#loader > h1 {
	font-size: 7vw;
	width: 17.5vw;
	overflow: hidden;
	border-right: .5vw solid;
	animation: typewriter 300ms steps(7) alternate, blink 300ms steps(20) infinite normal;
}

@keyframes typewriter {
	from {
		width: 0;
	} to {
		width: 18vw;
	}
}

@keyframes blink {
	from { border-color: white; }
	to { border-color: black; }
}

section {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main > div {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#nickname {
	font-size: 5em;
	margin: 0;
	width: 60%;
}

#about-text { width: 60%; }

#avatar { border-radius: 100%; max-width: 300px; }

#menu {
	background: rgba(0, 0, 0, .7);
	max-height: 400px;
	width: 30%;

	position: fixed;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);

	backdrop-filter: blur(40px);
	z-index: 99;
	display: none;
	border: solid 1px #5e5e5e;
	border-radius: 15px;
}

#menu:focus {
	outline: none;
}

#searchbar {
	background: none;
	border: none;
	color: #fff;
	width: calc(100% - 2rem);
	height: 3rem;
	padding: 0 1rem;
	border-bottom: solid 1px #5e5e5e;
	border-radius: 15px 15px 0 0;
}

#searchbar:focus,
#searchbar:focus + #search-close {
	background: rgba(50, 50, 50, .5);
	outline: none;
}

#menu-entries {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 37.5vh;
}

.search-element {
	width: calc(100% - 3rem);
	display: block;
	padding: 0 1.5rem;
	color: white;
	text-decoration: none;
	border: solid 1px rgba(0, 0, 0, 0);
}

.search-element > * {
	padding: .5rem;
}

.search-categories {
	color: #8B949E;
	font-size: .9em;
	padding: 0rem 0 0 1rem;
}

.search-element:hover,
.search-element:focus {
	outline: none;
	background: rgba(50, 50, 50, .5);
	border-bottom: solid 1px #5e5e5e;
	border-top: solid 1px #5e5e5e;
}

@media (max-width: 1300px) {
	section {
		flex-direction: column;
	}

	#avatar {
		max-width: 250px;
	}

	#menu {
		min-width: 300px;
		max-height: 80vh;
		margin: auto;
	}

	#menu-entries {
		max-height: 450px;
	}

	#nickname {
		min-width: 200px;
		text-align: left;
	}

	#about-text {
		min-width: 200px;
		text-align: left;
	}

	.search-element {
		padding: .5rem 1.5rem;
	}
}
